:root {
  --accent-color: #50729b;
  --primary-color: #faf9f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  display: grid;
  padding-top: 15px;
  grid-row: 1 / span2;
  background-color: var(--accent-color);
}

.sidebar ul {
  list-style-type: none;
}

.sidebar a {
  color: var(--primary-color);
  text-decoration: none;
}

.sidebar li:hover a {
  background-color: var(--primary-color);
  color: var(--accent-color);
  transition-duration: 0.5s;
}

.sidebar .sidebar-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1;
  margin-bottom: 50px;
}

.sidebar-header > img {
  padding-left: 20px;
  height: 70px;
}

.sidebar-header > a {
  padding-left: 20px;
  font-size: 2em;
}

.sidebar-first {
  margin-bottom: 30px;
}

.sidebar-first > li {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-left: 10px;
  margin-bottom: 13px;
}

.sidebar-first i {
  margin-top: 4.5px;
  display: flex;
  justify-content: center;
}

.sidebar-second > li {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-left: 10px;
  margin-bottom: 13px;
}

.sidebar-text {
  font-size: 1.3em;
}

.sidebar-second i {
  margin-top: 4.5px;
  display: flex;
  justify-content: center;
}

.right-header {
  padding-top: 15px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 50px 3fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 50px 110px;
  /* border: 1px solid; */
}

.right-header > .fa-magnifying-glass,
.fa-bell {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.3em;
}

.right-header > #search {
  margin: 10px 15px;
  font-size: 1.2em;
  border: 0;
  border-radius: 13px;
  height: 30px;
  width: 90%;
  padding-left: 10px;
  background-color: #f1f0f0;
  box-shadow: inset 0px 0px 45px -69px rgba(0, 0, 0, 1);
}

.right-header > .profile-pic {
  height: 50px;
  border-radius: 30px;
  margin-left: 28px;
}

.right-header > .user-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.right-header > .welcome-profile-pic {
  height: 80px;
  border-radius: 60px;
  margin-left: 27px;
  margin-top: 10px;
}

.right-header > .welcome-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 65px;
}

.welcome-msg > span {
  font-size: small;
  font-weight: 800;
}

.welcome-msg > p {
  font-size: 1.5em;
  font-weight: 600;
}

.right-header > button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 12px 5px;
  margin-top: 33px;
  margin-right: 15px;
  height: fit-content;
  border-radius: 30px;
  border: 0;
  box-shadow: inset 0px 0px 45px -69px rgba(0, 0, 0, 1);
}

.right-body {
  padding: 20px;
  grid-column: 2;
  grid-row: 2 /3;
  border: 1px solid;
  background-color: var(--primary-color);
}
