:root {
  --accent-color: #50729b;
  --primary-color: #faf9f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  display: grid;
  padding-top: 15px;
  grid-row: 1 / span2;
  background-color: var(--accent-color);
}

.sidebar ul {
  list-style-type: none;
}

.sidebar a {
  color: var(--primary-color);
  text-decoration: none;
}

.sidebar-link:hover a {
  background-color: var(--primary-color);
  color: var(--accent-color);
  transition-duration: 0.5s;
}

.sidebar .sidebar-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1;
  margin-bottom: 50px;
}

.sidebar-header img {
  height: 70px;
}

.sidebar-header > a {
  padding-left: 20px;
  font-size: 2em;
}

.sidebar-first {
  margin-bottom: 30px;
}

.sidebar-first > li {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-left: 20px;
  margin-bottom: 13px;
}

.sidebar-first i {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-second > li {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-left: 20px;
  margin-bottom: 13px;
}

.sidebar-link {
  font-size: 1.2em;
}

.sidebar-text {
  padding-left: 15px;
}

.sidebar-second i {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-header {
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 70px;
  display: grid;
  grid-template-columns: 50px 3fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 50px 110px;
}

.fa-magnifying-glass,
.fa-bell {
  display: inline-flex;
  font-size: 1.3em;
  border: solid red;
}

.right-header > #search {
  margin: 10px 15px;
  font-size: 1.2em;
  border: 0;
  border-radius: 30px;
  height: 35px;
  min-width: 400px;
  max-width: 800px;
  padding-left: 10px;
  background-color: #f1f0f0;
  box-shadow: inset 0px 0px 45px -69px rgba(0, 0, 0, 1);
}

.right-header .profile-pic {
  height: 50px;
  border-radius: 30px;
  margin-left: 28px;
}

.right-header > .user-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.right-header .welcome-profile-pic {
  height: 80px;
  border-radius: 60px;
  margin-left: 27px;
  margin-top: 10px;
}

.right-header > .welcome-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 65px;
}

.welcome-msg > span {
  font-size: small;
  font-weight: 800;
}

.welcome-msg > p {
  font-size: 1.5em;
  font-weight: 600;
}

.right-header > button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 12px 5px;
  margin-top: 33px;
  margin-right: 15px;
  height: fit-content;
  border-radius: 30px;
  border: 0;
  box-shadow: inset 0px 0px 45px -69px rgba(0, 0, 0, 1);
}

button:hover {
  cursor: pointer;
}

.right-body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
  grid-column: 2;
  grid-row: 2 /3;

  background-color: var(--primary-color);
  gap: 15px;
}

.project-container {
  grid-column: 1;
  grid-row: 1/3;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 15px;
  border: red solid;
  height: 80vh;
  gap: 15px;
}

.card {
  border: solid green;
}

.announcement-card {
  height: 80%;
  padding: 30px 25px;
  display: grid;
  grid-row: repeat(3, 1fr);
  border: solid black;
  margin-top: 15px;
}

.trending-card {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border: solid black;
  gap: 10px;
  padding: 30px 25px;
}

.trending-profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.trending-profile img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
