:root {
  --hero-color: #02265ef1;
  --accent-color: #fbbc04;
  --body-color: #ffffff;
  --sidebar-font-color: #ffffff;
  --secondary-font-color: #3c4043;
  --card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --h3-font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 0.4fr auto;
}

.sidebar {
  display: grid;
  padding-top: 15px;
  grid-row: 1 / span2;
  background-color: var(--hero-color);
  height: auto;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar a {
  color: var(--body-color);
  text-decoration: none;
}

.sidebar-link:hover a {
  background-color: var(--accent-color);
  color: var(--hero-color);
  transition-duration: 0.5s;
}

.sidebar .sidebar-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1;
  margin-bottom: 50px;
}

.sidebar-header img {
  height: 70px;
}

.sidebar-header > a {
  padding-left: 20px;
  font-size: 2em;
}

.sidebar-first {
  margin-bottom: 30px;
}

.sidebar-first > li {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-left: 20px;
  margin-bottom: 13px;
}

.sidebar-first i {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-second > li {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin-left: 20px;
  margin-bottom: 13px;
}

.sidebar-link {
  font-size: 1.2em;
}

.sidebar-text {
  padding-left: 15px;
}

.sidebar-second i {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-header {
  z-index: 1;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 70px;
  display: grid;
  grid-template-columns: 50px 3fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 50px 110px;
  box-shadow: rgba(2, 57, 105, 0.172) 0px 10px 20px;
}

.fa-magnifying-glass,
.fa-bell {
  display: inline-flex;
  font-size: 1.3em;
}

.right-header > #search {
  margin: 10px 15px;
  font-size: 1.2em;
  border: 0;
  border-radius: 30px;
  height: 35px;
  min-width: 400px;
  max-width: 800px;
  padding-left: 10px;
  background-color: #f1f0f0;
  box-shadow: inset 0px 0px 45px -69px rgba(0, 0, 0, 1);
}

.right-header .profile-pic {
  height: 50px;
  border-radius: 30px;
  margin-left: 28px;
}

.right-header > .user-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.right-header .welcome-profile-pic {
  height: 80px;
  border-radius: 60px;
  margin-left: 27px;
  margin-top: 10px;
}

.right-header > .welcome-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 65px;
}

.welcome-msg > span {
  font-size: small;
  font-weight: 800;
}

.welcome-msg > p {
  font-size: 1.5em;
  font-weight: 600;
}

.right-header > button {
  background-color: var(--hero-color);
  color: var(--body-color);
  padding: 12px 5px;
  margin-top: 33px;
  margin-right: 15px;
  height: fit-content;
  border-radius: 30px;
  border: 0;
  box-shadow: inset 0px 0px 45px -69px rgba(0, 0, 0, 1);
}

button:hover {
  cursor: pointer;
}

.right-body {
  height: 98vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.4fr 0.43fr;
  margin-top: 10px;
  padding: 15px;
  grid-column: 2;
  grid-row: 2 /3;
  background-color: var(--body-color);
  gap: 20px;
}

h3 {
  font-weight: var(--h3-font-weight);
}

.project-container {
  grid-column: 1;
  grid-row: 1/3;
  height: fit-content;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 15px;
  gap: 30px;
}

.project-cards > .card {
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 30px 20px;
  border: 0;
  box-shadow: var(--card-shadow);
  border-left: 10px var(--accent-color) solid;
  border-radius: 10px;
}

.project-info > span {
  font-size: 1.1em;
  font-weight: 600;
}

.project-info > p {
  color: var(--secondary-font-color);
  margin-top: 5px;
  font-size: 0.95em;
  font-weight: 400;
}

.card-buttons {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 1.3em;
}

.card-buttons i {
  margin-right: 20px;
}

.card-buttons a {
  color: black;
}

.announcement-container {
  height: 90%;
}

.announcement-card {
  height: inherit;
  padding: 30px 25px;
  display: grid;
  grid-row: repeat(3, 1fr);
  border: 0;
  box-shadow: var(--card-shadow);
  border-radius: 10px;
  margin-top: 15px;
}

.announcement > p {
  margin-top: 4px;
  font-size: 0.9em;
  color: var(--secondary-font-color);
}

.trending-container {
  height: 91.6%;
}

.trending-card {
  display: grid;
  height: inherit;
  grid-template-rows: repeat(4, 1fr);
  border: 0;
  box-shadow: var(--card-shadow);
  border-radius: 10px;
  gap: 10px;
  padding: 25px 25px;
  margin-top: 15px;
}

.trending-profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.trending-profile img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.trending-card a {
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  text-decoration: none;
}

.trending-card a:hover {
  background-color: ;
}

.profile-info > span {
  color: rgba(0, 0, 0, 0.548);
}
